html {
  padding: 0;
  margin: 0;
}
:root {
  font-family: Monospace, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.618;
  font-weight: 424;
  color: #20C20E ;
  background-color: #090909;
  font-size: 18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.emoji {
  height: 18px;
  vertical-align: middle;
}

a {
  font-weight: 685;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #1cf604;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
p {
  margin: 0px;
}

button {
  margin: 0.382vh 0.382vw;
  padding: 0.382vh 0.382vw;
  color: #ffffff;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #090909;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #20c20e;
  color: #20c20e;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.flex-wrap-center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.overlay {
  z-index: 999;
  display: flex;
  flex-direction: column;
  position: fixed;
  border-radius: 16px;
  top: 25vh;
  left: 5.5vw;
  border: 1px solid #20C20E;
  background-color: rgba(0, 0, 0, 0.854);
  padding: 0.618vh 0.618vw;
  margin: 0.618vh 0.618vw;
}

.nav-icon {
  display: flex;
  align-items: center;
  margin: 0.618vh 0.618vw;
  padding: 0.618vh 0.618vw;
}

input {
  background-color: #161B22;
  color: #fff;
  padding: 0.618vh 0.618vw;
  margin: 0.618vh 0.618vw;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

/* Custom Scrollbar Styling */
/* For Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #090909;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #20C20E;
  border-radius: 5px;
  border: 2px solid #090909;
}

::-webkit-scrollbar-thumb:hover {
  background: #27e811;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #20C20E #090909;
}

/* Ensure consistent scrollbar styling in the Modal */
.modal-container {
  scrollbar-width: thin;
  scrollbar-color: #20C20E #090909;
}

.modal-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.modal-container::-webkit-scrollbar-track {
  background: #090909;
  border-radius: 5px;
}

.modal-container::-webkit-scrollbar-thumb {
  background: #20C20E;
  border-radius: 5px;
  border: 2px solid #090909;
}

.modal-container::-webkit-scrollbar-thumb:hover {
  background: #27e811;
}
