html {
  padding: 0;
  margin: 0;
}
:root {
  font-family: Monospace, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.618;
  font-weight: 424;
  color-scheme: light dark;
  color: #20C20E ;
  background-color: #090909;
  font-size: 18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.emoji {
  height: 18px;
  vertical-align: middle;
}

a {
  font-weight: 685;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #1cf604;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
p {
  margin: 0px;
}

button {
  border-radius: 40px;
  border: 1px solid #20C20E ;
  padding: 0.23em 0.38em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #090909;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #20c20e;
  color: #20c20e;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
